
@{
  Layout = "_FormBuilderLayout";
  ViewBag.Title = "Altinn Studio";
}

@section scripts {
  <link href="https://altinncdn.no/fonts/roboto/latin/roboto.css" rel="stylesheet">
  <script src="https://use.fortawesome.com/bdabc5c1.js"></script>
  <script src="https://use.fortawesome.com/ed31cded.js"></script>
}

<div id="root" class="media-body flex-column d-flex"></div>

<environment include="Production">
    <link  href="https://altinn-cdn.no/studio/designer/frontend/stable/designer/frontend/app-development/app-development.css" asp-append-version="true" rel="stylesheet">
    <script src="https://altinn-cdn.no/studio/designer/frontend/stable/designer/frontend/app-development/app-development.js" asp-append-version="true" type="text/javascript"></script>
</environment>
<environment exclude="Production">
    <link href="https://altinn-cdn.no/studio/designer/frontend/latest/app-development/app-development.css" rel="stylesheet" />
    <script src="https://altinn-cdn.no/studio/designer/frontend/latest/app-development/app-development.js" type="text/javascript"></script>
